*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.wid{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0 16px 0;
}
.nav-img{
    width: 139px;
    height: 60px;
}
ul{
    display: flex;
    list-style: none;
    gap: 32px;
}
nav ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
}
nav .nav-btn button{
    color: #FFFFFF;
    background-color: #30B868;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #000000;
}
nav ul li:hover{
    background-color: tomato;
}
nav .nav-btn button:hover{
    background-color: tomato;
}