*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.wid{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}
.btn{
    color: #FFFFFF;
    background-color: #30B868;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000065;
}
.btn:hover{
    background-color: tomato;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0 16px 0;
}
.nav-img{
    width: 139px;
    height: 60px;
}
ul{
    display: flex;
    list-style: none;
    gap: 32px;
}
nav ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
}
nav ul li:hover{
    background-color: tomato;
}
nav .nav-btn button:hover{
    background-color: tomato;
}
#banner-section{
    max-width: 1600px;
    margin: 0 auto;
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
}
.banner{
    padding: 115px 120px 179px 120px;
}
#banner-section .banner{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}
#banner-section .banner .head-btn{
    width: 229px;
    height: 36px;
    padding: 8px 12px;
    border-radius: 50px;
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 4px 4px 0px #00000065;
    background-color: #FFFFFF;
}
#banner-section .banner .banner-title h1{
    color: #FFFFFF;
    text-shadow: 0px 4px 4px #00000075;
    margin-bottom: 16px;
}
#banner-section .banner .banner-title p{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}
#banner-section .banner .banner-title{
    text-align: center;
    margin-bottom: 16px;
}
#banner-section .banner .banner-title .title-col{
    color: #30B868;
}
#banner-section .banner .banner-btn {
    display: flex;
    gap: 16px;
}
#banner-section .banner .banner-btn .btn-1{
    color: #FFFFFF;
    background-color: #30B868;
    padding: 16px 16px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000065;
    display: flex;
    gap: 10px;
    align-items: center;
}
#banner-section .banner .banner-btn .btn-2{
    color: #FFFFFF;
    background-color: #ffffff00;
    padding: 16px 16px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000065;
    display: flex;
    gap: 10px;
    align-items: center;
}

#content-section{
    max-width: 1600px;
    margin: 0 auto;
    /* border: 1px solid black; */
}

.first-content{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 44px;
}
.first-content .content-title{
    padding-top: 60px;
    text-align: center;
}
.first-content .content-title h2{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}
.first-content .content-title p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}

.content-cards {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 44px;
}
.content-cards .card{
    width: 322px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    padding: 70px 24px 21px 24px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px 0px #00000029;
}
.content-cards .card h3{
    color: #001931;
    font-size: 24px;
    font-weight: 600;
}
.content-cards .card .content-para{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}
.content-cards .card .content-head,.content-para{
    margin: 0;
    text-align: center;
}
.content-cards .card .card-image {
    background-color: #F95555;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-cards .card .card-image img{
    height: 32px;
    width: 32px;
}

#cover-content{
    max-width: 1600px;
    margin: 0 auto;
    /* border: 1px solid rgb(255, 58, 58); */
    /* padding: 120px; */
}
.cover{
    /* border: 1px solid grey; */
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 120px;
    background-color: #FFFFFF;
}
.cover .cover-image img{
    height: 600px;
    width: 600px;
}
.cover-contents .cover-title{
    text-align: left;
}
.cover-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}
.cover-list .list{
    display: flex;
    gap: 8px;
}
.cover-contents .cover-title{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
    padding-right: 187px;
}

.cover .cover-title .min-title{
    color: #469165;
    font-size: 16px;
    line-height: 20px;
}
.cover .cover-title h2{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
}
.cover .cover-title .max-title{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}
#last-content .container{
    /* border: 1px solid green; */
    background-color: #F7F6F2;
    padding: 80px 40px;
    border-radius: 12px;
}
#last-content .container .last-max-title{
    text-align: center;
    margin-bottom: 40px;
}
#last-content .container .last-max-title h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #001931;
}
#last-content .container .last-max-title h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #001931;
}
#last-content .container .last-max-title p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
}
.container .last-content-btn{
    text-align: center;
    margin-bottom: 16px;
}
.container .last-para{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

footer{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #001931;
    padding: 120px 120px 30px 120px;
}
footer .div1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 84px;
}
footer .div1 .div1-icons {
    color: #FFFFFF;
    font-size: 20px;
}
footer .div1 .div1-icons p{
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 16px;
}
footer hr{
    border: none;
    height: 2px;
    background-color: #62738259;
}
footer .div2 p{
    text-align: center;
    margin: 30px 120px 30px 120px;
    color: #FAFAFA;
    font-size: 16px;
    line-height: 24px;
}